@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

.latest-work {
  transition: box-shadow 0.4s ease-in-out; 
}

.route {
  transition: color 0.4s ease-in-out; 
}

.box-shadow-border {
  border-bottom: solid #000 thin; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}

.box-shadow-borderr {
  border-bottom: solid #d3d0d0 thin; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}